---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import dogImg from "../assets/dog.jpg";
import SocialList from "@/components/SocialList";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">關於我</h1>
		<p>
			Hi, 我是 Fei Yang,
			是一名前端開發者，希望您喜歡我的Blog，如果有任何感想都歡迎您聯絡我。
		</p>
		<div class="flex justify-center">
			<Image src={dogImg} alt="two dogs" width={700} />
		</div>
		<p>一些關於我的小秘密</p>
		<ul class="list-disc list-inside">
			<li>非常喜歡前端開發</li>
			<li>是個棒球迷，熱愛世界各地的棒球，觀看MLB、NPB，偶爾會看CPBL</li>
			<li>我喜歡旅行、健身、瑜珈</li>
			<li>有在投資台美股</li>
			<li>家中領養兩隻米克斯，名為小雪以及小花</li>
			<li>日語非常流利，英文可以日常溝通</li>
		</ul>
		<SocialList />
	</div>
</PageLayout>
