---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";

const meta = {
	title: "Evan Yang",
	description: "The perfect starter for your perfect blog.",
};

const MAX_POSTS = 5;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Hi, I'm Fei</h1>
		<p class="mb-4">
			Hi, 我是Evan Yang.<br />
			我是一名前端開發者，目前在前端領域已經學習六個月，主要使用的框架為React。<br
			/>會開始這個部落格主要想分享我在前端領域上的心得，以及我自己個人的心情以及感想抒發。<br
			/>
			希望你會喜歡我的分享。
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-2xl title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="[&_q]:w-full flex flex-wrap items-center gap-x-2">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-2xl title">Portfolio</h2>
		<ul class="space-y-8 sm:space-y-8">
			<li>
				<a
					href="https://react-moviehub.netlify.app/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link text-lg font-bold"
					>MovieHub
				</a>
				<p class="inline-block sm:mt-2">
					MovieHub WebApp that access movies from the TMDB Database API and
					search movies and rent online. Users are not only able to search
					movies, they can also add to favorite and put it into shopping cart.
					Furthermore, they can even change the language (we support English,
					Japanese and Chinese) based on their preference.
				</p>
			</li>
			<li>
				<a
					href="https://myanimehub.netlify.app/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link text-lg font-bold"
					>AnimeHub
				</a>
				<p class="inline-block sm:mt-2">
					Anime WebApp that access details from the Jikan API which developed
					base on the most famous anime community MyAnimeList. Users can easily
					get access to the anime they're interested in and get more specific
					details of anime by clicking the image or the title of anime.
				</p>
			</li>
			<li>
				<a
					href="https://evan-quizzical.netlify.app/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link text-lg font-bold"
					>Quizzical
				</a>
				<p class="inline-block sm:mt-2">
					Quiz WebApp that access trivia questions from the Open Trivia Database
					API and score players based on their answers. Multiple game options
					like difficulty and category are available for the player to change.
				</p>
			</li>
		</ul>
	</section>
</PageLayout>
